@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Righteous');

/*--------------------------------font*/
.uppercase {
    text-transform: uppercase;
}
.underline {
    text-decoration: underline;
}
h1 {
    font-family: "Righteous";
    font-size: 70px;
    text-align: center;
    
}

h2 {
    font-family: "Righteous";
    font-size: 50px;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 40px;
}

h4 {
    text-align: center;
    font-size: 35px;
}
h5 {
    text-align: center;
    font-size: 30px;
}

h6 {
    text-align: center;
    font-size: 25px;
}

p {
    text-align: center;
    font-size: 35px;
}


/*------------------------------section-background*/

.title {
    background-color: green;
}
#nav ul li a{
    background-color: yellow;
}

#rules {
    background-color: #111;
}

#statistics {
    background-color: #333;
}

#locations {
    background-color: #555;
}

#drinks {
    background-color: #777;
}

#previous {
    background-color: #999;
}

#contact {
    background-color: gray;
}

/*----------------------------------------header*/
header {
    
    width: 100%;
    float: top;
}
.pageitem {
    background-color: #000;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
}

.pageitem a {
    text-decoration: none;
}

/*---------------------------------------rules*/

#rules h2 {
    color: #f40804;
}
#rules h3 {
    color: #9b5453;
}
#rules li {
    color: #9b5453;
    text-align:center;
    font-size: 35px;
    text-decoration: underline;
    
}
#rules p {
    color: #ffffff;
}

/*---------------------------------------statistics*/

.dc-chart {
    float: center;
}

/*---------------------------------------locations*/
.pubs img {
    width: 200px;
    height: 200px;
    
}


/*---------------------------------------drinks*/
.beers {
    background-color:gray;
}
.beers img {
    width: 200px;
    height: 200px;
}

/*---------------------------------------previous*/




/*---------------------------------------footer*/